* {
    margin: 0;
    padding: 0;
    background-color: black;
}
h1 {
    color: white;
    justify-content: center;
    align-items: center;
}
#splash-screen {
    background-image: url('./img/bckgrnd.jpg');
    height: 100vh;
    width: 209vh;
}
.screen-off {
    display: none;
}
.screen-on {
    display: initial;
}
#canvas {
    height: 720px;
    width: 1280px;
}
#game-board {
    display: flex;
    align-items: center;
    justify-content: center;
}